@(message: String)

@main("Team Udea-Soft REST service in scala/play") {

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="@routes.Assets.at("images/lang-logo.png")">
    </a>
    <h1>Restaurants REST service with Scala/Play on Heroku</h1>
    <p>This is an application deployed to Heroku. It's a REST service developed by Udea-Soft team at Enterprise Application Development course.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/Udea-Soft/restaurants.git"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  @if(message != null){
  <div class="alert alert-success text-left" role="alert">
    @message
    Endpoints: <BR>
    #Get all restaurants <BR>
    GET /restaurants<BR>
    #Get restaurant by id<BR>
    GET /restaurants/:id <BR>
    #Save a restaurant <BR>
    POST /restaurants <BR>
    #Get all cities <BR>
    GET /cities <BR>
    #Create a reservation <BR>
    POST /reservations
  </div>
  }
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/scala-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/scala-getting-started/blob/master/build.sbt">build.sbt</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">

           <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-scala">Getting Started with Scala/Play on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-scala">Deploying Scala Apps on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/play-support">Heroku Play Framework Support</a></li>
        <li><a href="https://devcenter.heroku.com/articles/scala-support">Heroku Scala Support</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   
</div>

}
